{% extends 'base.html' %}
{% load static %}

{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Hope is where the Heart is</h2>
        <p>
          Canasu Dream Foundation is a non-governmental organization that empowers women through effective educational and livelihood initiatives.</p>
          <p>
          
          Our mission is to improve the lives of women in local communities through education, skill development and economic empowerment. Canasu is a revolution to support the dream of every woman to construct their future with perseverance. We strengthen their inner voice by driving away their fear of suppression and by bringing freedom into every sphere of their lives. We strongly believe that if we need to make the world a better place for tomorrow, women need to be architects of the future.
          
           
          </p><p>
          The organization has reached out to more than 10,000+ women across different communities in Bangalore. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="../static/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Who are we?</h3>
            <p class="fst-italic">
              We are a social community that is focused on helping women and assisting them inachieving their ambitions. We help them build and nurture their lives by providing skill sets that can help them accomplish their dreams and create an impact in their community. We also focus on providing training and hosting exhibitions which involve women learning to adapt to new opportunities. Canasu reaches out to communities around Bangalore and tries to emancipate women. We believe that if we strengthen the inner voice of women, they can nurture a community of achievers. To strengthen their inner voice, we need to strengthen their minds so that their determination propels them further.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->
    {% endblock content %}